<h1><%= @bookmark.title %></h1>
<p>URL: <%= link_to @bookmark.url, @bookmark.url, target: "_blank" %></p>
<% if @bookmark.description.present? %>
  <p>Description:<%= @bookmark.description %></p>
<% end %>
<% if @bookmark.notes.present? %>
  <p>Notes: <%= @bookmark.notes %></p>
<% end %>
<div>
  <%= link_to "Edit", edit_bookmark_path(@bookmark) %> |
  <%= button_to "Delete", @bookmark, method: :delete, data: {turbo_confirm: "Are you sure?"}%> |
  <%= link_to "Back", bookmarks_path %>
</div>